{% extends 'base.html.twig' %}

{% block title %}Hello PageController!{% endblock %}

{% block body %}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{{ asset('build/images/logo-moviz.png') }}" alt="Logo moviz" width="400" >
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3" >Moviz : l'actualité des films
         </h1>
        <p class="lead" >Concevez et personnalisez rapidement des sites mobiles réactifs avec Bootstrap, la boîte à outils open source frontale la plus populaire au monde, avec des variables et des mixins Sass, un système de grille réactif, de nombreux composants prédéfinis et de puissants plugins JavaScript.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primaire</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Faire défaut</button>
        </div>
      </div>
    </div>
  </div>

  <h2> Derniers films ajoutés </h2>
  <div class="row text-center">
    {% for movie in movies %}
        {% include "partials/movie/_movie_block.html.twig" %}
    {% endfor %}
  </div>
                    
{% endblock %}
