{% extends 'base.html.twig' %}

{% block title %}Hello PageController!{% endblock %}

{% block body %}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="bootstrap-themes.png" class="d-block mx-lg-auto img-fluid" alt="Thèmes Bootstrap" width="700" height="500" loading="lazy" _mstalt="287586" _msthash="16">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3" _msttexthash="1193790" _msthash="17">Héros réactif aligné à gauche avec image</h1>
        <p class="lead" _msttexthash="44418985" _msthash="18">Concevez et personnalisez rapidement des sites mobiles réactifs avec Bootstrap, la boîte à outils open source frontale la plus populaire au monde, avec des variables et des mixins Sass, un système de grille réactif, de nombreux composants prédéfinis et de puissants plugins JavaScript.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2" _msttexthash="113490" _msthash="19">Primaire</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4" _msttexthash="200434" _msthash="20">Faire défaut</button>
        </div>
      </div>
    </div>
  </div>
                    
{% endblock %}
