<div class="container">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary" _msttexthash="111306" _msthash="14">Domicile</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary" _msttexthash="326092" _msthash="15">Fonctionnalités</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary" _msttexthash="95446" _msthash="16">Prisée</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary" _msttexthash="363909" _msthash="17">Foire aux questions</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary" _msttexthash="97383" _msthash="18">Environ</a></li>
        </ul>
        <p class="text-center text-body-secondary" _msttexthash="327002" _msthash="19">© 2023 Société, Inc</p>
    </footer>
</div>